.sidebar {
  border-right: 4px solid var(--dash-accent-color);
}

.nav-category {
  border-bottom: 4px solid var(--dash-accent-color);
  font-weight: 700;
  color: var(--text-darker-default);
}

.nav .menu-items {
  font-weight: 500;
  color: var(--text-default);
}
