/* BEGIN - Root variables */
:root {
    --accent: #fb5849;
    --accent-fade: #FC9A91;
    --default-dashboard-text: #eaeaea;
    --ui-dark: #0f1015;
    --ui-dark-glow: #2d303f;
  }

  /* END - Root variables */


  .input-blank{
    height: 46px;
    background-color: rgb(226 232 240);
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .textarea-blank {
    background-color: rgb(226 232 240);
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  /* BEGIN - Custom Nav Link - Styling */

.nav-item.active > .nav-link:before {
    background-color: var(--accent)!important;
}
  /* BEGIN - Custom button - Styling */

.btn-accent {
    border-radius: 5px;
    border-left: 4px solid var(--accent);
    border-top: 1px solid var(--accent-fade);
    border-bottom: 1px solid var(--accent-fade);
    border-right: 1px solid var(--accent-fade);
}

.btn-accent:hover {
    border-radius: 5px;
    background-color: var(--ui-dark-glow);
    border-left: 4px solid var(--accent);
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    transition-duration: 300ms;
}

/* END - Custom button - Styling */

/* BEGIN - Custom form file input - Styling */

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    display: block;
    position: relative;
    width: 100px;
    height: 25px;
    border-radius: 25px;
    background: linear-gradient(40deg, #cfcfcf, #e5e5e5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.form-input {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}


/* END - Custom form file input - Styling */

/* BEGIN - DataTables - Styling */

.dataTable {
    border: 2px solid var(--accent)!important;
}

.dataTables_wrapper .dataTables_filter input {
    border-color: var(--accent-fade);
}

.dataTables_wrapper .dataTables_length select {
    border-color: var(--accent-fade);
}

th {
    border-top: 0;
    border-bottom-width: 2px!important;
    border-color: white!important;
    font-weight: 500;
    color: var(--default-dashboard-text);
}

td {
    border-bottom-width: 1px!important;
    border-color: rgba(255, 255, 255, 0.092)!important;
}



/* END - DataTables - Styling */
/* BEGIN - Alert - Styling */

.notification {
    display: flex;
    width: 350px;
    height: 88px;
    background-color: var(--default-dashboard-text);
    border: 3px solid var(--accent);
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 0.75rem;
    padding: 1rem;

}

/* END - Alert - Styling */

