/* // DataTables */
@import "~datatables.net-bs4/css/dataTables.css";
@import "~datatables.net-buttons-bs4/css/buttons.css";

/* BEGIN - Root variables */
:root {
    --accent: #fb5849;
    --accent-fade: #FC9A91;
    --default-dashboard-text: #eaeaea;
    --ui-dark: #0f1015;
    --ui-dark-glow: #2d303f;
  }

  .dash-page {
    margin-left: 240px;
  }

  .required:after {
    content: '*';
    color: red;
    padding-left: 0;
  }
  input::placeholder {
    color: rgba(46, 46, 46, 0.415)!important;

  }
  textarea::placeholder {
    color: rgba(46, 46, 46, 0.415)!important;
  }
  select option:first{
    color: rgba(46, 46, 46, 0.415)!important;
  }
  .placeholder {
    color: rgba(46, 46, 46, 0.415)!important;
  }

  /* BEGIN - Custom Dashboard UI */

  .sidebar .nav .nav-item .nav-link .menu-title {
    color: var(--accent-fade);
    font-weight: 400;

  }

  .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.active) > .nav-link {
    background-color: transparent!important;
    color: var(--accent);
    font-weight: 600;

  }
  .sidebar .nav .nav-item:hover > .nav-link .menu-title {
    color: var(--accent);
    font-weight: 600;
  }

  .sidebar .nav .nav-item.active > .nav-link .menu-title {
    background-color: var(--ui-dark);
    color: var(--accent);
    font-weight: 600;
  }
  .sidebar .nav .nav-item.active .menu-icon i {
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    font-size: 1.35rem;
  }

  .sidebar {
    position: fixed;
    top: 0 !important;
    min-height: 100%;
    border-right-width: 4px;
    border-color: var(--accent);
    background-color: #16171e;
    background-image: linear-gradient(43deg, #16171e 0%, #272431 46%, #3a3a49 100%);

  }

  .table-badge {
    display: flex;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    background-color: rgb(71 85 105);
  }

  /* END - Custom Dashboard UI */


  /* END - Root variables */


  .input-blank {
    height: 46px;
    background-color: rgb(226 232 240);
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .textarea-blank {
    background-color: rgb(226 232 240);
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  /* BEGIN - Custom Nav Link - Styling */

.nav-item.active > .nav-link:before {
    background-color: var(--accent)!important;
}
  /* BEGIN - Custom button - Styling */

.btn-accent {
    border-radius: 5px;
    border-left: 4px solid var(--accent);
    border-top: 1px solid var(--accent-fade);
    border-bottom: 1px solid var(--accent-fade);
    border-right: 1px solid var(--accent-fade);
}

.btn-accent:hover {
    border-radius: 5px;
    background-color: var(--ui-dark-glow);
    border-left: 4px solid var(--accent);
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    transition-duration: 300ms;
}

/* END - Custom button - Styling */

/* BEGIN - Custom form file input - Styling */

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    display: block;
    position: relative;
    width: 100px;
    height: 25px;
    border-radius: 25px;
    background: linear-gradient(40deg, #cfcfcf, #e5e5e5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.form-input {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}


/* END - Custom form file input - Styling */

/* BEGIN - DataTables - Styling */

.dataTables_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.dataTables_wrapper .dataTables_filter input {
    margin-right: 1.25rem;
    color: var(--default-dashboard-text);
    border-color: var(--accent-fade);
}

.dataTables_wrapper .dataTables_length select {
    margin-left: 1.25rem;
    color: var(--default-dashboard-text);
    border-color: var(--accent-fade);
}

.dataTables_wrapper select {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='#6b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e);
    background-position: right 0.25rem center !important;
    background-repeat: no-repeat;
    background-size: 3.5em 3.5em !important;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: white;
}

.dataTables_info {
    color: var(--accent);
    margin-left: 5px;
    margin-top: 5px;
}

.dataTables_wrapper .dataTables_length select {
    min-width: 10px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    text-align: end;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: var(--accent) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: var(--accent-fade) !important;
    margin: 0.25rem 0.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: var(--accent) !important;
}

th {
    border-top: 0;
    border-bottom-width: 2px!important;
    border-color: white!important;
    font-weight: 500;
    color: var(--default-dashboard-text);
}

td {
    border-bottom-width: 1px!important;
    border-color: rgba(255, 255, 255, 0.092)!important;
}



/* END - DataTables - Styling */
/* BEGIN - Alert - Styling */

.notification {
    display: flex;
    width: 350px;
    height: 88px;
    background-color: var(--default-dashboard-text);
    border: 3px solid var(--accent);
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 0.75rem;
    padding: 1rem;

}

/* END - Alert - Styling */

